<?xml version="1.0" ?>
<launch>    

  <!-- Defining params with default values (used if not inherited) -->
  <arg name="robot_id"              default="4"/>
  <param name="robot_id"            value="$(arg robot_id)"/>

  <arg name="gazebo"                default="false"/>
  <param name="gazebo"              value="$(arg gazebo)"          type="bool"/>

  <arg name="gazebo_robot_name"     default="robotis_op3"/>
  <param name="gazebo_robot_name"   value="$(arg gazebo_robot_name)"/>
    

  <param name="offset_file_path"         value="$(find op3_manager)/config/offset.yaml"/>
  <param name="robot_file_path"          value="$(find op3_manager)/config/OP3.robot"/>
  <param name="init_file_path"           value="$(find op3_manager)/config/dxl_init_OP3.yaml"/>
  <param name="device_name"              value="/dev/ttyUSB0"/>
	
  <param name="/robotis/direct_control/default_moving_time"     value="0.04"/>
  <param name="/robotis/direct_control/default_moving_angle"    value="90"/>


  <!-- OP3 Manager -->
  <node pkg="op3_manager" type="op3_manager" name="op3_manager" output="screen">
    <param name="angle_unit"             value="30" />
    <param name="robot_id"               value="4"/>
  </node>

  <!-- Movement node -->
  <node pkg="movement_pkg" type="motion_controller_node" name="op3_motion_controller" output="screen">
    <param name="robot_id"               value="4"/>
  </node>

</launch>
